.top-buffer{
    margin-top:10px;
}

.movietable tr td:nth-child(2){
    width: 150px;
}

.movietable tr:nth-child(1) td{
    border-top: none;
}
a.nodecoration{
    text-decoration:none;
}
.posttable tr td:nth-child(2){
    width: 300px;
}

.posttable tr:nth-child(1) td{
    border-top: none;
}

.commenttable tr td:nth-child(2){
    width: 300px;
}
.commenttable tr:nth-child(1) td{
    border-top: none;
}
.phototable tr td:nth-child(2){
    width: 300px;
}
.phototable tr:nth-child(1) td{
    border-top: none;
}
