<table class="table commenttable">
    <tr>
        <td><h3>Details for {{comment.email}}</h3></td>
        <td></td>
    </tr>
    <tr>
        <td>postID</td>
        <td>{{comment.postId}}</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>{{comment.name}}</td>
    </tr>

    <tr>
        <td>Email</td>
        <td>{{comment.email}}</td>
    </tr>

    <tr>
        <td>Body</td>
        <td>{{comment.body}}</td>
    </tr>
</table>
<div>
    <a class="btn btn-primary" ui-sref="editComment({id:comment.id})">Edit</a>
</div>
